# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django logs
*.log

# Virtual env
.env
venv/
env/

# IDE / OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Ignore migration caches
*/migrations/__pycache__/
