Django==5.2.7
gunicorn
whitenoise
dj-database-url
python-dotenv

psycopg[binary]

social-auth-app-django
social-auth-core

boto3==1.34.0
botocore==1.34.0

razorpay
requests
pillow
xhtml2pdf==0.2.15
django-extensions
num2words